html, body{
    margin: 0;
}
*{
    box-sizing: border-box; /*corrigindo comportamento padrão css para toda a página*/
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: #f9f9f9;
}
/* ALINHAMENTOS, ESPAÇAMENTOS, LARGURAS E ALTURAS */
header, main, footer{
    text-align: center;
}
header, .form, main{
    /* espaçamentos com margin*/
   margin: 0 auto 70px;

    /* limites dos elementos  na página*/
    width: 90%;
    max-width: 500px;
}
/*TÍTULOS*/
header h1, main h2{
    margin-bottom: 70px;
}
.form h2{
   text-align: right;
   color: #ffffffee;
   font-size: 18px;

}
/*HEADER*/
header button{
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/*FORMULARIO*/
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px; /*espaçamento com grid*/
    background-color: #ff4f4f;
    align-items: center;
    padding: 16px 64px;
    border-radius: 6px;
    
}
form input, form button{
    width: 100%; /*largura*/
    margin-bottom: 4px; /*espaçamentos*/
    padding: 8px 16px; /*preenchimento*/
    border-radius: 4px; /*bordas*/
    border: 1px solid #ffffff88; /*bordas*/
}
form input{
    background-color: transparent;
}
form input::placeholder{
    color: #ffffffaa;
}
form button{
    font-weight: bold;
}
main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer{
    margin-top: auto;
    padding-bottom: 16px;
    border-top: 1px #eee solid;
}
 